<div class='box question'>
    <h3>Question 7</h3>
    <p>Repeat what you did in Question 6 for this snippet as well.</p>
    <codeblock class='sample'>
        &lt;%- include('&lt;../partials/questions/7dry', {}) %> header>
        <br />
        &nbsp;&nbsp;&lt;%- include('&lt;../partials/questions/7dry', {}) %> h1>Node: Workshop 1</h1>
        <br />
        &lt;%- include('&lt;../partials/questions/7dry', {}) %> /header>
        <br />
    </codeblock>
    <p>✔️ This is what a typical include looks like.</p>
    
    &lt;%- include('&lt;../partials/questions/7dry', {}) %>
    &lt;%- include('&lt;RELATIVE_PATH_TO_PARTIAL>', {}) %>
</div>