<!DOCTYPE html>
<head>
    <title>404 Page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<div class='box question'>
    <h3>404 PAGE</h3>
    <ol>
        <li>404</li>
        <li>four ohhhhh four</code></li>
        <li>FOUR OHHHHH FOUR</li>
        <li>4 0 4 / 404 / 4  0  4 / 4 OHHH 4</li>
    </ol>
    
    
</div>
<div>
    <img src = "emptyPlateFor404page.jpg" alt="It is like getting an empty plate when you are hungry!" width="275" height="183">
</div>
